body {
  margin: 0px;
  overflow: hidden;
}

#desktop {
  height: calc(100vh - 40px);
  width: 100%;
  background: url("wallpaper.jpg");
}

#taskbar {
  height: 40px;
  border-top: 1px #0aa solid;
}

#desktop-contextmenu,
#file-contextmenu {
  width: 140px;
  position: absolute;
  border: 1px black solid;
  border-radius: 0.3rem;
  background-color: white;
}

.menu-item {
  border: 1px black solid;
  border-radius: 0.3rem;
  width: calc(100% - 10px);
  cursor: pointer;
  padding: 5px;
}

.hide {
  display: none;
}

.file {
  background-color: white;
  margin-top: 5px;
  margin-left: 5px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.front {
  z-index: 100;
}

.window {
  position: absolute;
  width: 500px;
  height: 420px;
  left: calc(50% - 250px);
  top: calc(50vh - 210px);
  background: white;
  overflow: hidden;
  border: 1px lightblue solid;
  resize: both;
}

.titleBar {
  width: calc(100% - 10px);
  height: 20px;
}

.front .titleBar {
  background-color: #0aa;
}
