body {
  margin: 0px;
  padding: 0px;
  background-color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes logo {
  0% {
    color: rgba(60, 255, 0, 0);
  }

  75% {
    color: rgba(60, 255, 0, 0.25);
  }

  50% {
    color: rgba(60, 255, 0, 0.5);
  }

  75% {
    color: rgba(60, 255, 0, 0.75);
  }

  100% {
    color: rgba(60, 255, 0, 1);
  }
}

@keyframes logo1 {
  0% {
    color: rgba(0, 0, 255, 0);
  }

  25% {
    color: rgba(0, 0, 255, 0.25);
  }

  50% {
    color: rgba(0, 0, 255, 0.5);
  }

  75% {
    color: rgba(0, 0, 255, 0.75);
  }

  100% {
    color: rgba(0, 0, 255, 1);
  }
}

#intro1 {
  animation: logo 2s 1 forwards ease-in;
  display: flex;
  color: rgba(60, 255, 0, 0);
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

#intro2 {
  animation: logo1 2s 1 forwards ease-in;
  /* animation-delay: 2.5s; */
  display: none;
  color: rgba(0, 0, 255, 0);
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}

#intro1 #name {
  width: max-content;
}

#intro1 #name1 {
  font-size: 25vh;
}

#intro1 #name2 {
  font-size: 12.5vh;
}

#intro2 #name1 {
  font-size: 12.5vh;
}

#menu,
#options {
  display: none;
  text-align: center;
}

button,
select {
  margin-bottom: 10px;
}

.gray {
  background-color: gray;
  border-radius: 1rem;
  color: black;
}

.gray:hover {
  background-color: lightgray;
}